# Byte-compiled / optimized / DLL files
__pycache__
database.ini

# Environments
.env
.venv
.vscode
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Jupyter Notebook Auto Created Files
.ipynb_checkpoints

# configs
.postgres
.postgres
dvdrental.session.sql
